// Created by Andy 4/12/15
#description
	.section
		.container
			.row
				.col.s5
					img(src='../images/Collab.jpg')
				.col.s7
					span.caption
						h4 Easy One Click
						p
							| We present to you the easiest way to find customer events catered to you. As long as you have a linkedin Account, sign in, then let us do the rest.

	.section
		.container
			.row
				.col.s7
					span.caption
						h4 Network After Work
						p
							| We work best with people who are most passionate about what they do. We’re here to help you find people who are just as passionate as you are about what you do.
				.col.s5
					img(src='../images/Collab.jpg')
	.section
		.container
			.row
				.col.s5
					img(src='../images/Collab.jpg')
				.col.s7
					span.caption
						h4 Custom Events
						p
							| There are many people in this world. There are many people in your profession. There are many events out there with people in your profession. We’re on a mission to connect you all together, expand your network, and to help you grow yourself.
