// Created by Andy 4/12/15
#description.section
	.container
		.section
			.row
				.col.m5.l5.offset-l1.hide-on-small-only
					img.responsive-img.z-depth-5(style='background-position:center;', src='../images/Events.jpg')
				.col.s12.m5.l5.offset-l1
					span.caption
						h4 Easy one click.
						p
							| To get started, simply log in using your LinkedIn account. Then based on your profile, we present to you events that you may be interested to help you further grow yourself, or to help you get yourself out there!

		.section
			.row
				.col.s12.m5.l5.offset-l1
					span.caption
						h4 Where these events come from.
						p
							| The Events we recommend come from Eventbrite, Meetup.com, and others. By doing this, we save you the time of needing to look through multiple websites, and sorting through which events you like best. Sit Back, Relax, and let us do the work.
				.col.m5.l5.offset-l1.hide-on-small-only
					img.responsive-img.z-depth-5(src='../images/Collab.jpg')
		.section
			.row
				.col.m5.l5.offset-l1.hide-on-small-only
					img.responsive-img.z-depth-5(src='../images/Events.jpg')
				.col.s12.m5.l5.offset-l1
					span.caption
						h4 How we do it all.
						p
							| Skillit performs an analysis on your LinkedIn profile, and by using our own algorithm we sort through events from multiple places, and present it to you in a neat little package.
