block content
  html
  body
    footer.page-footer.grey.darken-3
      .container
        .row
          .col.l6.s12
            p.grey-text.text-lighten-4
              | We live in a world where our work can sometimes be super repetitive. When this happens, we start to lose our competitive edge. We are on a misson to help you rethink, reinvent, and gain new knowledge by connecting you with people through catered events.
          .col.l4.offset-l2.s12
            ul
              li
                a.grey-text.text-lighten-3(href='#!') About Us
              li
                a.grey-text.text-lighten-3(href='#!') Privacy Policy
              li
                a.grey-text.text-lighten-3(href='#!') Terms of Use
              li
                a.grey-text.text-lighten-3(href='#!') Contact Us
      .footer-copyright
        .container
          | © 2015 Skillit Copyright
          a.grey-text.text-darken-3.right.waves-effect(href='/hiddenleaf') Hidden Leaf
