// Created by Andy 4/12/15
.landing-background
	.section
		.container
			.header.row.center
				h1(style='font-family: Roboto; font-weight:200') Discover Events in One Click
				h4(style='font-family: Roboto; font-weight:200') Using your LinkedIn profile
		.container
			.header.row.center
				a.waves-effect.waves-light.btn-large.green.lighten-2 Let's Go!
		.container
			.header.row.center
				h8
					a.waves-effect.waves-light(href='#description') Learn More