//
   Created by andalau on 3/31/15.

extends layout
block content
    nav
        .nav-wrapper.blue.darken-3
            a.brand-logo(href='index.jade', style='padding-left:30px') #{title}
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='#') Subscribe
                li
                    a(href='#') Learn More
                li
                    a(href='#') Team