//
   Created by andalau on 3/31/15.


nav.blue.darken-3
    .nav-wrapper.container.blue.darken-3
        .col.s12
            a.brand-logo(href='/') Skillit
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.waves-effect(href='#') Subscribe
                li
                    a.waves-effect(href='#') Learn More
                li
                    a.waves-effect(href='team') Team