//
   Created by andalau on 3/31/15.

extends layout
block content
    nav
        .nav-wrapper.blue.darken-3
            a.brand-logo(href='#', style='padding-left:30px') #{title}
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='sass.html') Sass
                li
                    a(href='components.html') Components
                li
                    a(href='javascript.html') JavaScript