//
   Created by andalau on 3/31/15.


nav
    .nav-wrapper.blue.darken-3
        .col.s12(style="padding-left:12px;")
            a.brand-logo(href='/') Skillit
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.waves-effect(href='#') Subscribe
                li
                    a.waves-effect(href='#') Learn More
                li
                    a.waves-effect(href='team') Team