//
   Created by andalau on 3/31/15.


nav
    .nav-wrapper.blue.darken-3
        a.brand-logo(href='/', style='padding-left:30px') Skillit
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a.waves-effect(href='#') Subscribe
            li
                a.waves-effect(href='#') Learn More
            li
                a.waves-effect(href='team') Team