// Created by Andy 4/12/15
extends layout
block content
	include navbar.jade
	.section
		.container
			.row
				h1(style='font-family: Roboto; font-weight:200') #{title}
			.row
				.col.s4.m4.l4
					img.circle(src='../images/andy_dakota.jpg')
					h3 Andy Lau
				.col.s4.m4.l4
					img.circle(src='../images/mao_amy.jpg')
					br
					h3 Anthony Mao
				.col.s4.m4.l4
					img.circle(src='../images/chan.jpg')
					h3 Anthony Chan
	include footer.jade