body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing-background {
	background-image: url('../images/sky_beach.jpg');
	width: 100%;
	height: 600px;
	background-position: bottom;
	background-size: cover;
}