body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing-background {
	background: url('../images/sky_beach_lighter.jpg');
	background-repeat:no-repeat;
	width: 100%;
	height: 600px;
	background-position: center bottom;
	background-size: cover;
}